<div fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div fxLayout="row">
    <button routerLink="/" mat-mini-fab mat-raised-button color="primary"><<</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center top">
    <mat-card class="back" fxFlex="33">
      <form class="back"[formGroup]="orderFormGroup" (ngSubmit)="addOrder()">
        <div  fxLayout="column">
          <h1>Profile</h1>
          <h4 class="back">Orders</h4>
          <mat-form-field class="back">
            <input class="form-control" type="number" matInput placeholder="Order" formControlName="orderedItemId">
          </mat-form-field>
          <h4>Address</h4>
          <mat-form-field>
            <input class="form-control"  matInput placeholder="Address" formControlName="deliveryAddress">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Add Order</button>
        <button mat-raised-button color="warn" routerLink="/">Back</button>
      </form>
    </mat-card>
  </div>
</div>
