

<div id="selector">
  <mat-form-field appearance="fill" class="myPanelClass">
    <mat-label>Select a Drone</mat-label>
    <mat-select
      [(ngModel)]="selectedDrones"
      (ngModelChange)="onSelectedChange($event)">
      <mat-option *ngFor="let drone of drones"
                  [value]="drone.droneId">
        Drone Id: {{drone.droneId}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

